
/*
* @description: ������������
* @author: andy
* @update: andy (2014-7-10)*/
.m-index-l{
    width:17px;
    height:16px;
    display:inline-block;
    background: url(/resources/caidan_n.png) no-repeat;
    background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    position: absolute;
    top:14px;
    left:12px;
}
.m-index-l:hover{
    background-image: url(/resources/caidan_h.png);
}
.m-index-page {
    position: relative;
}
.m-index-page .m-head-img {
    width: 50px;
    height: 50px;
    margin: 6px 0px 0px 6px;
    background: url(/resources/m-ico-user.png) no-repeat;
    background-size: 62% 62%;
    -webkit-background-size: 62% 62%;
    -o-background-size: 62% 62%;
}
.m-index-page .m-download {
   height:60px;
   background:#fff;
   overflow:hidden;
}
.m-index-page .m-download .m-download-img {
    background: url(/resources/m-app-icon.png) no-repeat;
    width:170px;
    height:44px;
    background-size: 100% 100%;
    margin: 8px 12px;
    float:left;
}
.m-index-page .m-arrow-rt {
    float: right;
}
.m-index-page .m-arrow-rt .m-rt {
    margin-right: 24px;
    margin-top:24px;
    width:10px;
    height: 10px;
    border-color: #888;
}
.m-index-page .m-tabs {
    -webkit-tap-highlight-color: #000;
}
.m-index-page .m-tabs ul {
    display: -moz-box;
    display: -webkit-box;
    display: box;
    padding-top: 8px;
    background-color:#d2d2d2;
    width: 100%;
}
.m-index-page .m-tabs ul li {
    position: relative;
    background-color: #8d8b8c;
    color: #fff;
    font-size: 15px;
    text-align: center;
    -moz-box-flex: 1; /* Firefox */
    -webkit-box-flex: 1; /* Safari ��� Chrome */
    box-flex: 1;
    height: 36px;
    line-height: 36px;
    white-space:nowrap;/*���������������*/
    cursor: pointer;
}
.m-index-page .m-tabs ul li:first-child {
     margin-right: 2px;
     border-top-right-radius: 3px;
     moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
}
.m-index-page .m-tabs ul li:last-child {
     margin-left: 2px;
     border-top-left-radius: 4px;
     -moz-border-left-topright: 4px;
     -webkit-border-top-left-radius: 4px;
}
.m-index-page .m-tabs ul li.m-active {
      background-color: #fff;
      color: #592d2e;
}
.m-index-page .m-tabs span:before  {
    position: absolute;
    width: 21px;
    height: 21px;
    content: '';
    margin-top: 8px;
    margin-left: -26px;
}
.m-index-page .m-tabs img {
    display: inline;
    width: 18px;
    height: 18px;
    vertical-align: sub;
    margin-right: 2px;
}
.m-index-page .m-tabs-layout {
    background: #fff;
    padding: 18px 12px;
}
.m-index-page .m-list-border {
    background: #fff;
    border-bottom: 0;
}
.m-index-page .m-list-border li {
    background-color: #ebebeb;
    position: relative;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    overflow: hidden;
}
.m-index-page .m-list-border li.m-hover {
    background-color: #dedede;
    /*-webkit-tap-highlight-color: rgba(255,0,0,0);���������������������������������*/
}
.m-index-page .m-radius {
     Border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.m-index-page .m-list-border li.m-top-bolder {
    border-top: 1px solid #ccc;
 }
.m-index-page .m-radius-top {
    border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;

    border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
}
.m-index-page .m-radius-bottom {
    border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
}
.m-index-page .m-list-border li i.m-split {
    margin: 0 14px;
    border-left: 1px solid #999;
}
.m-index-page .m-list-border li i.m-arr-r {
    position: absolute;
    right: 0;
    width:0;
    height:0;
    margin-top: 22px;
    margin-right: 16px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #666;
}
.m-index-page .m-list-border li i.m-arr-p {
    position: absolute;
    right: 8px;
    width: 26px;
    height: 26px;
    top: 12px;
    background: url(/resources/m-ico-position.png) no-repeat;
    background-size: 100% 100%;
}

.m-index-page .m-list-border li label {
    margin: 0 0 0 50px;
    float: left;
    color: #58595B;
    font-size: 16px;
}
.m-index-page .m-list-border li label.m-margin {
    margin-left: 62px;
    margin-right: 20px;
}
.m-index-page .m-list-border li label.m-margin1 {
    margin-right: 16px;
}
.m-index-page .m-list-border li:last-child {
    border-bottom: 0;
}
.m-index-page .m-list-border li:before {
    position: absolute;
    width: 22px;
    height: 26px;
    content: '';
    left: 16px;
    top: 12px;
}
.m-index-page .m-top {
    margin-top: 10px;
}
.m-index-page .m-margin-24 {
    margin: 24px 0;
}
.m-index-page .m-list-border li.m-time:before {
    background: url(/resources/m-ico-clock.png) no-repeat;
    background-size: 100% 100%;
}
.m-index-page .m-list-border li.m-city:before {
    background: url(/resources/m-ico-build.png) no-repeat;
    background-size: 100% 100%;
}
.m-index-page .m-list-border li.m-start:before {
    background: url(/resources/m-ico-start.png) no-repeat;
    background-size: 100% 100%;
}
.m-index-page .m-list-border li.m-end:before {
    background: url(/resources/m-ico-end.png) no-repeat;
    background-size: 100% 100%;
}
.m-index-page .m-list-border li.m-plane:before {
    background: url(/resources/m-ico-plane-1.png) no-repeat;
    background-size: 100% 100%;
}
.m-index-page .m-list-border li.m-plane1:before {
    background: url(/resources/m-ico-plane-2.png) no-repeat;
    background-size: 100% 100%;
}
.m-index-page .m-list-border li.m-flight-num:before {
    background: url(/resources/m-ico-flight-num.png) no-repeat;
    background-size: 100% 100%;
}
.m-index-page .m-list-border li.m-flight-data:before {
    background: url(/resources/m-ico-flight-data.png) no-repeat;
    background-size: 100% 100%;
}
.m-index-page .m-common-bg {
    background: url(/resources/m-common-bg.png) 97% 58% no-repeat;
    background-size: 7% 38%;
    width: 50%;
}
.m-index-page .m-footer {
	text-align: center;
	font-size: 14px;
	position: absolute;
	margin: auto;
	bottom: 0;
	width: 100%;
	height: 38px;
	line-height: 38px;
}
/*xgsjhm*/
.page-info .info {
    margin-top: 1px;
    border: 1px solid #ccc;
    background-color: #fffeea;
    padding: 10px 12px;
    border-left: 0;
    border-right: 0;
}

.page-info .con {
    padding: 19px 12px;
}

.page-info .ui-verify {
    margin: 12px 0 23px;
}

.page-info .tip {
    font-size: 14px;
    color: #ff7e00;
    text-decoration: underline;
    margin-top: 10px;
    display: block;
}
/*yjdl*/
.voice-box {
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 20px;
    width: 230px;
    position: relative;
}

.voice-box .p1, .yjdl .voice-box .p2 {
    text-align: center;
}

.voice-box .p1 {
    font-size: 20px;
    margin-top: 10px;
}

.voice-box .p2 {
    font-size: 16px;
    margin: 10px 0;
}

.voice-box .p3 {
    font-size: 14px;
    margin-top: 10px;
}

.voice-box .p3 em {
    color: #ff7e00;
}

.voice-box .ui-close {
    position: absolute;
    top: 5px;
    right: 10px;
}
/*
* @description: ������������������������
* @author: andy
* @update: andy (2014-7-10 15:18)*/
.m-search-page,.m-flight-page {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
}
.m-search-page .m-search-layout ,.m-flight-page .m-flight-layout {
    background-color: #d2d2d2;
    padding: 9px;
}
.m-search-page .m-search-wrap,.m-flight-page .m-flight-wrap {
    height: 40px;
    line-height: 42px;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
}
.m-search-page .m-search-wrap input,.m-flight-page .m-flight-wrap input{
    height: 24px;
    line-height: 24px;
    width: 70%;
    border: 0;
    background: transparent;
    color: #666;
    font-size: 15px;
    margin-left: 48px;
}
.m-search-page .m-search-wrap span:before,.m-flight-page .m-flight-wrap span:before {
    position: absolute;
    width: 21px;
    height: 21px;
    content: '';
    margin-top: 10px;
    margin-left: 12px;
}
.m-search-page .m-search-wrap span:before,.m-flight-page .m-flight-wrap span:before {
    background: url(/resources/m-ico-search.png) no-repeat;
    background-size: 100% 100%;
}
.m-ico-delete {
    position: absolute;
    width: 21px;
    height: 21px;
    top: 10px;
    right: 12px;
    display: none;
    background: url(/resources/m-ico-delete.png) no-repeat;
    background-size: 100% 100%;
}
.m-position {
    top: 12px;
}
.m-search-page .m-slide-wrap,.m-flight-page .m-slide-wrap {
    background-color: #fff;
}
.m-search-page .m-slide-wrap li {
    color: #444;
    font-size: 15px;
    height: 44px;
    line-height: 44px;
    padding-left: 9px;
    border-bottom: 1px solid #ccc;
    overflow:hidden;
    text-overflow:ellipsis;/*������������������������������������������������*/
    white-space:nowrap;/*���������������������*/
}
.m-search-page .m-slide-wrap li:first-child {
    border-top: 1px solid #c0c0c0;

}
/**
 * @description: ���������������
 * @author: andy
 * @update: andy (2014-7-30)
 */
.m-flight-page {
    display: none;
    background-color: #eaeaea ;
}
.m-flight-page .m-flight-txt {
    width: 70%;
}
.m-flight-page h2 {
    font-size: 12px;
    color: #9e9d9d;
    padding: 0 8px;
}
.m-flight-page .m-flight-com {
    height: 30px;
    border-top: 1px solid #d5d2d2;
    border-bottom: 1px solid #d5d2d2;
    background: #fff;
    margin: 27px 0 7px 0;
    padding: 10px 8px 0 8px;
}
.m-flight-page section div.m-mb {
    margin-top: 14px;
}
.m-flight-page .m-p {
    margin: 33.5px 8px;
}
.m-flight-com span {
    font-size: 15px;
    color: #444;
}
.m-flight-com span.m-num {
    margin-right: 15px;
}
.m-flight-com i {
    border-left: 1px solid #999;
    margin: 0 11px;
}

.m-flight-page .m-flight-title {
    background-color: #fffff7;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.m-flight-page .m-slide-wrap {
    display: block;
}
.m-flight-page .m-slide-wrap li {
    color: #444;
    font-size: 15px;
    height: 51px;
    padding-left: 9px;
    border-bottom: 1px solid #ccc;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    position: relative;
}
.m-flight-page .m-slide-wrap a.m-active {
    position: absolute;
    width: 18px;
    height: 14px;
    top: 18px;
    right: 12px;
    background: url(/resources/m-ico-yes.png) no-repeat;
    background-size: 100% 100%;
}
.m-flight-page .m-slide-wrap li:first-child {
    border-top: 1px solid #c0c0c0;
    color: #666;

}
.m-flight-page .m-slide-wrap li h3 {
    color: #444;
    font-size: 15px;
    margin-top: 8px;
}
.m-flight-page .m-slide-wrap li p {
    color: #999;
}
/**
 * @description:������������
 * @author: andy
 * @update: andy (2014-7-30)
 */
.m-car-page section {
   background-color: #fff;
   padding-bottom: 23.5px;
}

.m-car-page section ul {
    padding-bottom: 23.5px;
}

.m-car-page section li {
    display: box;
    display: -webkit-box;
    orient: horizontal;
    -webkit-box-orient: horizontal;
    box-align: center;
    -webkit-box-align: center;
    border-bottom: 1px solid #e0e0e0;
}
.m-car-page section li h3 {
    text-align: center;
    font-size: 18px;
    color: #000;
    margin-left: 12px;
    width: 72px;
}
.m-car-page section li h3 span{
    display: block;
    font-size: 12px;
    color: #666;
    margin-top: 2px;
}
.m-car-page section .con {
    width: 22px;
    height: 22px;
    margin-right: 17.5px;
    background: url(/resources/m-ico-unchecked.png) no-repeat;
    background-size: 100% 100%;
}
.m-car-page section .checked {
    background: url(/resources/m-ico-checked.png) no-repeat;
    background-size: 100% 100%;
}

.m-car-page section .text {
    box-flex: 1;
    -webkit-box-flex: 1;
    display: box;
    display: -webkit-box;
    orient: horizontal;
    -webkit-box-orient: horizontal;
    box-align: center;
    -webkit-box-align: center;
    padding: 12px 0;
}

.m-car-page section .text span {
    margin: 0 14px;
    font-size: 12px;
    box-flex: 1;
    -webkit-box-flex: 1;
    display: block;
}

.m-car-page section .text i {
    margin-right: 11.5px;
}
.m-car-page .margin {
    margin: 0 12.5px;
}
/**
 * @description:������������
 * @author: andy
 * @update: andy (2014-7-30)
 */
 .m-check-page {
    background-color: #efeff4;
 }
 .m-check-page .msg-wrap {
    padding: 0 14px 14px 14px;
    background-color: #fbf9f5;
    overflow: hidden;
 }
 .m-check-page .msg-title {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    border-bottom: 1px solid #c0c0c0;
 }
  .m-check-page .msg-title span {
    display: block;
    float: left;
  }
  .m-check-page .ico-car {
    width: 21px;
    height: 21px;
    margin-top: 20px;
    margin-right: 15px;
    background: url(/resources/m-ico-check-car.png) no-repeat;
    background-size: 100% 100%;
  }
  .m-check-page .msg-address {
    margin: 12px 0;
  }
  .m-check-page .msg-ico {
    position: relative;
  }
  .m-check-page .msg-ico .start {
    margin-top: 18px;
    margin-right: 14px;
  }
  .m-check-page .msg-ico .end {
    margin-right: 14px;
  }
   .m-check-page .vertical-line {
    border-left: 1.8px dashed #ccc;
    display: block;
    width: 1px;
    height: 45px;
    margin-left: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
   }
  .m-check-page .msg-con-wrap {
    width: 89%;
  }
  .m-check-page .msg-con-wrap h3 {
    color: #444;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .m-check-page .msg-con-wrap p {
    color: #999;
    font-size: 12px;
    margin-top: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
 .m-check-page .msg-con:first-child{
    margin-bottom: 25px;
 }
     .m-check-page .msg-line {
    height: 7px;
    clear: both;
    background: url(/resources/m-ico-line.png) repeat-x;
    background-size: 4% 86%;

}
 .m-check-page .box-wrap {
    margin: 14px 9px 2px 9px;
    padding: 0 13px;
    border-radius: 4px;
    border: 1px solid #c0c0c0;
    background-color: #fff;
    position: relative;
    overflow: hidden;
 }
 .m-check-page .box-wrap p{
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 12px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
 }
.m-check-page .box-wrap p.color{
    color: #7abd59;
}
 .m-check-page .box-wrap strong {
    margin-bottom: 10px;
    font-size: 16px;
    color: #ccc;
    display: block;
 }
.m-check-page .box-wrap strong.youhui {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 220px;
}
.m-check-page .box-wrap .youhui-btn {
    width: 50px;
    height: 28px;
    background-color: #ccc;
    color: #fff;
    line-height: 28px;
    text-align: center;
    border-radius: 4px;
    margin-top: 18px;
}
.m-check-page .box-wrap .ok {
    background-color: #77bc55;
}
 .m-check-page .box-wrap i {
    position: absolute;
    top: 28px;
    right: 22px;
 }
 .m-check-page .note span a {
    text-decoration: underline;
    color: #592d2d;
 }
 .m-check-page .sub-wrap {
    background-color: #fff;
    border-top: 1px solid #d0d0d0;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
 }
.m-check-page .type {
	display: -webkit-box;
	display: box;
	text-align: center;
}
.m-check-page .type a {
	width: 138px;
	height: 43px;
	display: inline-block;
	color: #000;
	border: 1px solid #d6d6d6;
	border-radius: 4px;
	font-size: 14px;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: vertical;
	box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-box-flex: 1;
	margin: 12px;
	background-color: #fff;
}
.m-check-page .type a:first-child {
	margin-right: 0;
	background-color: #fff;
}
.m-check-page .type a:last-child p:last-child {
	font-size: 10px;
}
.m-check-page .type a.click {
	border: 1px solid #2ac05d;
	background: url('/resources/m-ico-click.jpg') right top no-repeat;
	background-size: 20px 20px;
	background-color: #fff;
}
 .m-check-page .sub-wrap .sub {
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     padding: 8px;
  }
 .m-check-page .sub-wrap h3 {
    color: #444;
    font-size: 12px;
  }
 .m-check-page .sub-wrap strong {
    color: #592b2b;
    font-size: 25px;
    font-weight: bolder;
  }
 .m-check-page .sub-wrap em {
    font-size: 15px;
    margin-left: 4px;
    color: #999;
 }
  .m-check-page .sub-wrap i {
    display: inline-block;
    transform: rotate(316deg);
    -webkit-transform: rotate(316deg);
    margin-left: 6px;
  }
 .m-check-page .sub-wrap .sub:first-child{
    border-right: 1px solid #d0d0d0;
    width: 54%;
 }
.m-check-page .sub-wrap .sub:last-child{
     width: 46%;
 }
 .m-check-page .sub-wrap .btn {
     border:0;
 }
 .m-check-page table.check-price {
    width: 100%;
 }
 .m-check-page table.check-price tr {
    height: 36px;
    font-size: 15px;
    color: #483131;
 }

/**
 * @description:������������
 * @author: andy
 * @update: andy (2014-8-1)
 */
.m-orderok-page {
    background-color: #fff;
}
.m-orderok-page .orderok-wrap {
  background-color: #fffeeb;
  border-top: 1px solid #c8c7cc;
  border-bottom: 1px solid #c8c7cc;
  padding: 27px 0;
  margin-top: 27px;
}
.m-orderok-page .orderok-wrap h3 {
  color: #592d2e;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}
.m-orderok-page .orderok-wrap .orderok-btn {
  margin: 27px 86px 0 86px;
}
/**
 * @description:������������
 * @author: andy
 * @update: andy (2014-8-1)
 */
.m-orderinfo-page .orderinfo-status {
  height: 52px;
  line-height: 50px;
}
.m-orderinfo-page .orderinfo-status {
 padding: 0 14px;
 position: relative;
}
.m-orderinfo-page .status-txt {
  font-size: 23px;
  border-bottom: 1px solid #cdcdcd;
}
.m-black {
color: #000;
}
.m-yellow {
color: #fba500;
}
.m-green {
color: #78bc55;
}
.m-blue {
color: #5c83fc;
}
.m-gray {
color: #ccc;
}
.m-orderinfo-page .status-refresh {
 width: 22px;
 height: 22px;
 background: url(/resources/m-ico-refresh.png) no-repeat;
 background-size: 100% 100%;
 position: absolute;
 top: 14px;
 right: 14px;
}
.m-orderinfo-page .orderinfo-content {
 padding: 14px 14px;
}
.m-orderinfo-page .info {
color:#444;
font-size: 16px;

}
.m-orderinfo-page .info h3 {
margin-bottom: 14px;
}
.m-orderinfo-page .info h3:last-child {
margin-bottom: 0;
}
.m-orderinfo-page  h3.wait {
text-align: center;
color: #c9c9c9;
font-size: 15px;
margin: 14px 0;
}
.m-orderinfo-page .orderinfo-content {
position: relative;
}
.m-orderinfo-page .img {
 width: 64px;
 height: 64px;
 background: url(/resources/m-ico-call.png) no-repeat;
 background-size: 100% 100%;
 position: absolute;
 top: 14px;
 right: 14px;
}
.m-orderinfo-page .img:hover {
 width: 64px;
 height: 64px;
 background: url(/resources/m-ico-call-h.png) no-repeat;
 background-size: 100% 100%;
}
.m-orderinfo-page .imgcancle {
 width: 64px;
 height: 64px;
 background: url(/resources/m-ico-call-cancle.png) no-repeat;
 background-size: 100% 100%;
 position: absolute;
 top: 14px;
 right: 14px;
}
.m-orderinfo-page .orderinfo-detail {
 padding: 14px;
}
.m-orderinfo-page .orderinfo-detail .detail {
 color: #444;
 font-size: 18px;
 background-color: #fff;
 text-align: center;
 height: 100%;
 line-height: 49px;
 border: 1px solid #cdcdce;
 position: relative;
}
.m-orderinfo-page .detail i.m-arr-r {
 right: 18px;
 top: 22px;
}
.m-orderinfo-page .detail .table {
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;
padding: 0 7px;
}
.m-orderinfo-page .detail table {
width: 100%;
font-size: 15px;
color: #444;
}
.m-orderinfo-page .detail table tr td:first-child {
text-align: left;
}
.m-orderinfo-page .detail table tr td:last-child {
text-align: right;
color: #592d2d;
}
.m-orderinfo-page .orderinfo-detail .footer {
position: relative;
}
.m-orderinfo-page .footer i.m-arr-r {
 right: 18px;
 top: 22px;
 -webkit-transform:rotate(-90deg); /* Safari ��� Chrome */
}
.m-orderinfo-page .msg-address {
margin: 12px 0;
overflow: hidden;
padding: 18.5px 10px;
background: #fff;
border-top: 1px solid #f1f0f6;
border-bottom: 1px solid #f1f0f6;
}
.m-orderinfo-page .msg-grey {
    color: #ccc;
    border: 1px solid #ccc;
}
.m-orderinfo-page .msg-ico {
position: relative;
}
.m-orderinfo-page .msg-ico .start {
margin-top: 18px;
margin-right: 14px;
}
.m-orderinfo-page .msg-ico .end {
margin-right: 14px;
}
.m-orderinfo-page .vertical-line {
border-left: 1.8px dashed #ccc;
display: block;
width: 1px;
height: 45px;
margin-left: 8px;
margin-top: 2px;
margin-bottom: 2px;
}
.m-orderinfo-page .msg-con-wrap {
width: 89%;
}
.m-orderinfo-page .msg-con-wrap h3 {
color: #444;
font-size: 16px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.m-orderinfo-page .msg-con-wrap p {
color: #999;
font-size: 12px;
margin-top: 9px;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}
.m-orderinfo-page .msg-con:first-child{
margin-bottom: 25px;
}
/**
  * @description:���������������������������
  * @author: andy
  * @update: andy (2014-8-1)
  */
.m-problem-page {
   background-color: #fff;
}
.m-problem-page section {
  margin: 15px 12px;
  padding-bottom: 24px;
}
.m-problem-page section ul {
    padding-bottom: 19.5px;
}

.m-problem-page section li {
    display: box;
    display: -webkit-box;
    orient: horizontal;
    -webkit-box-orient: horizontal;
    box-align: center;
    -webkit-box-align: center;
    background: #e5e5e5;
    border-radius: 4px;
    padding-left: 8px;
    margin-bottom: 6px;
}

.m-problem-page section .con {
    width: 22px;
    height: 22px;
    background: url(/resources/m-ico-unchecked.png) no-repeat;
    background-size: 100% 100%;
}
.m-problem-page section .checked {
    background: url(/resources/m-ico-checked.png) no-repeat;
    background-size: 100% 100%;
}

.m-problem-page section .text {
    box-flex: 1;
    -webkit-box-flex: 1;
    display: box;
    display: -webkit-box;
    orient: horizontal;
    -webkit-box-orient: horizontal;
    box-align: center;
    -webkit-box-align: center;
    padding: 15px 0;
}
.m-problem-page section .input {
    padding-right: 8px;
}
.m-problem-page section .text span {
    color: #444 ;
    margin: 0 10px;
    font-size: 15px;
    box-flex: 1;
    -webkit-box-flex: 1;
    display: block;
}
.m-problem-page .margin {
    margin: 0 12.5px;
}
.m-problem-page section li:last-child {
   display: block;
}
.m-problem-page section li textarea {
   width: 100%;
   height: 60px;
   background: #fff;
   border: 0;
   border-radius: 4px;
   margin-bottom: 9px;
   overflow:hidden;
   padding: 4px;
   font-size: 15px;
   color: black;
}
/**
 * @description:���������
 * @author: andy
 * @update: andy (2014-9-19)
 */

/*discount*/
.discount .page{
    background-color:#efeff4;
}
.discount section .t{
    padding:20px 10px;
}

.discount section .t .ibox{
    border-radius: 8px;
    border:1px solid #b9b9b9;
    display:-webkit-box;
}
.discount section .t .ibox input{
    display:block;
}

.discount section .t .ibox input[type=text]{
    border-radius:8px 0 0 8px;
    background-color: #fff;
    font-size:15px;
    height:45px;
    border:0;
    padding:0 5px;
    -webkit-box-flex:1;
}
.discount section .t .ibox input[type=text]::-webkit-input-placeholder{
    color:#ccc;
}
.discount section .t .ibox .button{
    border-radius:0 8px 8px 0;
    border-left:1px solid #b9b9b9;
    height:45px;
    line-height:45px;
    color:#592d2d;
    text-align: center;
    padding:0 20px;
    background-color:#fae500;
    font-size: 15px;
}

.discount section .t .ibox .button:active {
    background-color:#d9c700;
    color:#592d2d;
}

.discount section .b{
    padding:0 10px;
}

.discount section .b .item{
    height:80px;
    display:-webkit-box;
    -webkit-box-align:center;
    -webkit-box-pack:center;
    color:#fff;
    margin-bottom:10px;
    position: relative;
    border-radius: 4px;
}

.discount section .b .item .i-d{
    height:80px;
    width:8px;
    top:0;
    position: absolute;
}

.discount section .b .item .i-d.l{
    left:-5px;
}
.discount section .b .item .i-d.r{
    right:60px;
}

.discount section .b .item .i-d i{
    width:6px;
    height:6px;
    background-color:#efeff4;
    display:block;
    margin:3px 0;
    border-radius:8px;
}
.discount section .b .item .i-d i:first-child {
    width:12px;
    height:11px;
    margin: -8px -3px;
}
.discount section .b .item .i-d i:last-child {
    width:12px;
    height:12px;
    margin: -2px -3px;
}
.discount section .b .item .s-i{
    background: url("/resources/m-youhui-i.png") no-repeat;
    background-size: 19px 19px;
    width: 19px;
    height: 19px;
    display: block;
    position: absolute;
    left: 4px;
    bottom: 4px;
}
.discount section .b .item .s-1{
    font-size:24px;
    vertical-align: 22px;
    margin-left: -58px;
    font-weight: bold;

}

.discount section .b .item .s-2{
    font-size:50px;
    font-weight: bold;
    margin-left: -6px;
}

.discount section .b .item .text{
    margin-left: -24px;
}
.discount section .b .item .youhui{
    position: absolute;
    right: 16px;
    top: 22px;
    font-size:16px;
}

.discount section .b .item .s-3{
    width:128px;
    font-size:15px;
    padding-bottom:5px;
}

.discount section .b .item .s-4 {
    background: url("/resources/date-bg.png") no-repeat;
    background-size: 121px 16px;
    text-align: center;
    width: 121px;

}
