kepler_*
kepler_
/kepler-collector/modules/service/kepler_9878.pid
/kepler-collector/modules/service/kepler_9878.out
/kepler-collector/modules/service/kepler_9876.pid
/kepler-collector/modules/service/kepler_9876.out
/kepler-collector/modules/service/.settings
/kepler-collector/modules/service/.project
/kepler-collector/modules/service/.gitignore
/kepler-collector/modules/service/.classpath
/kepler-collector/modules/parent/.settings
/kepler-collector/modules/parent/.project
/kepler-collector/modules/interface/.settings
/kepler-collector/modules/interface/.project
/kepler-collector/modules/interface/.gitignore
/kepler-collector/modules/interface/.classpath
/kepler-collector/modules/admin-page/.project
/kepler-collector/modules/admin-page/.gitignore
/kepler-collector/modules/admin/.settings
/kepler-collector/modules/admin/.project
/kepler-collector/modules/admin/.gitignore
/kepler-collector/modules/admin/.classpath
/kepler-collector/.settings
/kepler-collector/.project
/kepler-all/.settings
/kepler-all/.project
/kepler-all/.gitignore
/kepler-all/.classpath
/kepler-collector/modules/service/dependency-reduced-pom.xml
/kepler-collector/modules/admin-page/.settings
/kepler-maven/.settings
/kepler-maven/.project
/kepler-maven/.gitignore
/kepler-maven/.classpath
.svn
/kepler-collector/.svn
/kepler-maven/.svn
/kepler-all/.svn